.quote {
  background-color: #162b2b;
  color: white;
  border-radius: 10px;
  padding: 3rem;
  margin: 3rem auto;
  /* width: 90%;
  max-width: 40rem; */
}

.quote p {
  font-size: 2rem;
  letter-spacing: 2px;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.2rem;
  float: right;
  color: #a1e0e0;
}